init_config:

instances:
  - instance_url: "rancher"
    instance_type: rancher
    collection_interval: 300
    rancher:
      url: "https://172.16.253.200"
      username: "67BCF990184425780DD0"
      password: "ivTf6jQ9gJv3s6TZLNBxvdgvwhWpBeXmBfxtcq3q"
    domain: "Rancher"
    layer: "Machines"
    etl:
      refs:
        - "module_dir://sts_rancher_impl.templates"

